<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_KERN_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_KERN_C_1ST</key>
	<array>
		<string>C'</string>
		<string>Ccedilla</string>
	</array>
	<key>_KERN_E_1ST</key>
	<array>
		<string>E'</string>
		<string>AE</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>_KERN_I_1ST</key>
	<array>
		<string>I'</string>
		<string>H</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>_KERN_I_2ND</key>
	<array>
		<string>I'</string>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Thorn</string>
	</array>
	<key>_KERN_L_1ST</key>
	<array>
		<string>L'</string>
		<string>Lslash</string>
	</array>
	<key>_KERN_O_1ST</key>
	<array>
		<string>O'</string>
		<string>D</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>_KERN_O_2ND</key>
	<array>
		<string>O'</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>_KERN_S</key>
	<array>
		<string>S'</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
	</array>
	<key>_KERN_T</key>
	<array>
		<string>T'</string>
		<string>Tcommaaccent</string>
		<string>uni021A</string>
	</array>
	<key>_KERN_U</key>
	<array>
		<string>U'</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>_KERN_Y</key>
	<array>
		<string>Y'</string>
		<string>Ydieresis</string>
	</array>
	<key>_KERN_Z</key>
	<array>
		<string>Z'</string>
		<string>Zcaron</string>
	</array>
	<key>_KERN_a_1ST</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_KERN_a_2ND</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_KERN_b_1ST</key>
	<array>
		<string>b'</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>_KERN_c_1ST</key>
	<array>
		<string>c'</string>
		<string>ccedilla</string>
	</array>
	<key>_KERN_d_2ND</key>
	<array>
		<string>d'</string>
		<string>q</string>
	</array>
	<key>_KERN_e_1ST</key>
	<array>
		<string>e'</string>
		<string>ae</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>_KERN_f_2ND</key>
	<array>
		<string>f'</string>
		<string>uniFB01</string>
		<string>uniFB02</string>
	</array>
	<key>_KERN_guilsinglleft</key>
	<array>
		<string>guilsinglleft'</string>
		<string>guillemotleft</string>
	</array>
	<key>_KERN_guilsinglright</key>
	<array>
		<string>guilsinglright'</string>
		<string>guillemotright</string>
	</array>
	<key>_KERN_hyphen</key>
	<array>
		<string>hyphen'</string>
		<string>emdash</string>
		<string>endash</string>
	</array>
	<key>_KERN_i_1ST</key>
	<array>
		<string>i'</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>uniFB01</string>
	</array>
	<key>_KERN_i_2ND</key>
	<array>
		<string>i'</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>_KERN_l_1ST</key>
	<array>
		<string>l'</string>
		<string>d</string>
		<string>lslash</string>
		<string>uniFB02</string>
	</array>
	<key>_KERN_l_2ND</key>
	<array>
		<string>l'</string>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>lslash</string>
		<string>thorn</string>
	</array>
	<key>_KERN_n_1ST</key>
	<array>
		<string>n'</string>
		<string>h</string>
		<string>m</string>
		<string>ntilde</string>
	</array>
	<key>_KERN_n_2ND</key>
	<array>
		<string>n'</string>
		<string>m</string>
		<string>ntilde</string>
		<string>r</string>
	</array>
	<key>_KERN_o_1ST</key>
	<array>
		<string>o'</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_KERN_o_2ND</key>
	<array>
		<string>o'</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
	</array>
	<key>_KERN_period_2ND</key>
	<array>
		<string>period'</string>
		<string>ellipsis</string>
	</array>
	<key>_KERN_quoteleft</key>
	<array>
		<string>quoteleft'</string>
		<string>quotedblleft</string>
	</array>
	<key>_KERN_quoteright</key>
	<array>
		<string>quoteright'</string>
		<string>quotedblright</string>
	</array>
	<key>_KERN_quotesinglbase</key>
	<array>
		<string>quotesinglbase'</string>
		<string>quotedblbase</string>
	</array>
	<key>_KERN_quotesingle</key>
	<array>
		<string>quotesingle'</string>
		<string>quotedbl</string>
	</array>
	<key>_KERN_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>_KERN_t_1ST</key>
	<array>
		<string>t'</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
	</array>
	<key>_KERN_t_2ND</key>
	<array>
		<string>t'</string>
		<string>germandbls</string>
		<string>tcommaaccent</string>
		<string>uni021B</string>
	</array>
	<key>_KERN_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>_KERN_y</key>
	<array>
		<string>y'</string>
		<string>ydieresis</string>
	</array>
	<key>_KERN_z</key>
	<array>
		<string>z'</string>
		<string>zcaron</string>
	</array>
</dict>
</plist>
